colabcode==0.1.1
kagglehub==0.3.4
executing==2.1.0
hyperframe==6.0.1
pexpect==4.9.0
colab-ssh==0.3.27
pandas==2.2.3
matplotlib==3.9.2
decorator==5.1.1
importlib_metadata==8.5.0
filelock==3.16.1
idna==3.10
h2==4.1.0
traitlets==5.14.3
nest_asyncio==1.6.0
smmap==5.0.1
pip==24.3.1
ptyprocess==0.7.0
nltk==3.9.1
unicodedata2==15.1.0
lxml==5.3.0
GitPython==3.1.43
urllib3==2.2.3
parso==0.8.4
zipp==3.21.0
summary==0.2.0
requests==2.32.3
pickleshare==0.7.5
stack-data==0.6.2
Jinja2==3.1.4
gitdb==4.0.11
sentry-sdk==2.19.0
torchvision==0.20.1
six==1.16.0
seaborn==0.13.2
fsspec==2024.10.0
networkx==3.4.2
jedi==0.19.2
joblib==1.4.2
debugpy==1.8.9
setuptools==75.6.0
hpack==4.0.0
pytz==2024.1
PySocks==1.7.1
patsy==1.0.1
jupyter_client==8.6.3
tqdm==4.67.1
exceptiongroup==1.2.2
pyzmq==26.2.0
appnope==0.1.4
numpy==1.26.4
scikit-learn==1.3.1
certifi==2024.8.30
cffi==1.17.1
torchaudio==2.5.1
asttokens==2.4.1
threadpoolctl==3.5.0
gmpy2==2.1.5
kiwisolver==1.4.7
wandb==0.18.7
jupyter_core==5.7.2
python-dotenv==1.0.1
pyparsing==3.2.0
regex==2024.11.6
torch==2.5.1
python-dateutil==2.9.0.post0
mpmath==1.3.0
wcwidth==0.2.13
packaging==24.2
torchsummary==1.5.1
chardet==5.2.0
pillow==11.0.0
Brotli==1.1.0
ipython==8.29.0
prompt_toolkit==3.0.48
pycparser==2.22
cycler==0.12.1
wheel==0.45.1
comm==0.2.2
statsmodels==0.14.4
pure_eval==0.2.3
tornado==6.4.2
psutil==6.1.0
docker-pycreds==0.4.0
munkres==1.1.4
zstandard==0.23.0
contourpy==1.3.1
sympy==1.13.1
typing_extensions==4.12.2
PyYAML==6.0.2
scipy==1.14.1
matplotlib-inline==0.1.7
charset-normalizer==3.4.0
protobuf==5.28.3
tzdata==2024.2
pyngrok==7.2.1
platformdirs==4.3.6
ipykernel==6.29.5
fonttools==4.55.0
setproctitle==1.3.4
Pygments==2.18.0
click==8.1.7
MarkupSafe==3.0.2
